* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;  
  height: 100%;
  background-color: #263236;
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  height: 195px;
  margin: 0;
  padding-bottom: -40px;
  align-items: center;
  background-color: #064862;

}

.header h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: .5rem;
  color: skyblue;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0 12px 0 0;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 5px;
  padding: 10px;
}
span:hover {
  color: skyblue;
  background-color: #263236;
  border-radius: 8px;
  cursor: pointer;
  transition: .6s;
}

nav .navactive {
  display: flex;
  flex-direction: row;
}

nav .navActive {
  display: flex;
  justify-content: center;
  background-color: #263236;
  padding-top: 2px;
  border-radius: 8px;
}

/* ____________________________ABOUT_____________________________ */

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  color: skyblue;
  letter-spacing: .2rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

.about-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 4px;
}

.about img {
  display: block;
  max-width: 220px;
  max-height: 325px;
}

.about-body p {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
  color: #cbe4ee;
  letter-spacing: 1.4px;
  line-height: 1.5;
}

/* ________________________PROJECT WINDOW_________________________ */

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  overflow-y: auto;
}

.projects h1 {
  color: skyblue;
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 4px;
  padding: 0px;
  letter-spacing: .2rem;
}

.project-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(101, 191, 226, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: #cbe4ee;
}

.project-card > img {
  width: 300px;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.project-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.project-card a {
  color: #064862;
  font-size: 34px;
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-group > p {
  font-size: 12px;
  letter-spacing: .3px;
  line-height: 1.5;
  color: #064862;
  margin-block: 3px;
  font-size: 12px;
  color: black;
}

.project-links a {
  color: #263236;
  padding: 8px;
}

.project-links a:hover {
  color: gray;
  transition: .4s;
}

/* ________________________________CONTACT__________________________________ */

.container {
  display: block;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.container h1 {
  font-size: 26px;
  letter-spacing: .2rem
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 50%;
  color: skyblue;
  background-color: #263236;
  padding: 20px 20px;
  margin-top: 20px;
  border-radius: 5px;
  letter-spacing: .1rem;
  line-height: 1.5;
}

#contact-form {
  width: 60%;
}

input {
  height: 30px;
  font-size: 18px;
  padding: 6px;
  color: #000;
}

textarea {
  height: 200px;
  font-family: sans-serif;
  font-size: 18px;
  padding: 6px;
  color: #000;
}

.form-group {
  color: #cbe4ee;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.form-control:focus {
  font-size: 18px;
  background-color: #e3f9f4;
  outline: none;
}

button {
  width: 100%;
  margin-top: 20px;
}

.icon {
  width: 100%;
  font-size: 30px;
  padding: 0;
  color: #263236;
  background-color: white;
}

.icon:hover {
  width: 100%;
  color: gray;
  background-color: white;
  transition: .4s;
  cursor: pointer;
}

.icon:active {
  color: skyblue;
  background-color: #263236;
}

.icon:after {
  color: skyblue;
  background-color: #263236;
}

/* _______________________________RESUME SECTION_______________________________ */

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.resume h1 {
  display: flex;
  flex-wrap: wrap;
  color: skyblue;
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 14px;
  padding: 0px;
  letter-spacing: .2rem;
}

.resume-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: whitesmoke;
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 20px;
}

.resume h2 {
  display: flex;
  font-size: 18px;
  align-items: flex-start;
  margin-right: 6px;
}

.resume-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60%;
  color: #000;
  background-color: whitesmoke;
  padding: 6px;
  border: 2px solid #263236;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 4px;
  line-height: 0;
}

.resume-contact-info {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
  line-height: 1.7;
}

.resume-contact-info > a {
  text-decoration: none;
  color: darkblue;
}

.resume-contact-info >a:hover {
  color: black;
  background-color: gray;
  padding: 0 6px;
  border: 1px solid gray;
  border-radius: 14px;
  letter-spacing: 2px;
}

.objective {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.objective p {
  line-height: 1.5;
}
/* ____________________________FOOTER_____________________________ */

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  margin-top: 40px;
  background-color: #cbe4ee;
}

.footer  ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  width: 150px;
  padding: 0
}

.footer a {
  color: #064862;
}

.footer a:hover {
  color: royalblue;
  transition: .4s;
}

.svg {
  position: relative;
  background-color: #070b0d;
  top: 12px;
  width: 28px;
  margin: 2px;
  border: 1px solid #064862;
  border-radius: 10px;
  padding: 1px;
}

.line-position {
  position: relative;
  line-height: 1.5;
  bottom: 12px;
}
