* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  
  min-height: 100vh;
  background-color: #263236;
  font-family: Inter, sans-serif;
}

.header {
  display: flex;
  margin: 0;
  padding: 20px 60px;
  align-items: center;
  justify-content: space-between;
  background-color: #064862;

}

.header h2 {
  font-size: 28px;
  font-weight: light;
  letter-spacing: .3rem;
  color: skyblue;
}

.--nav > a {
  color: #cbe4ee;
  text-decoration: none;
  letter-spacing: .1rem;
  padding: 12px;
}
.--nav > a:hover {
  color: skyblue;
}

/* _____________________________MAIN______________________________ */

.element-viewer {
  display: flex;
  flex-direction: column;
  /* border: 2px solid #cbe4ee; */
  margin: 100px 100px;
  padding: 0 16px;
}

.element-viewer > h1 {
  color: #cbe4ee;
  font-weight: crisp;
  letter-spacing: .3rem;
}

/* ____________________________ABOUT_____________________________ */

.card {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
}

.card h2 {
  display: flex;
  margin: 0;
  padding: 12px 35px 0 35px;;
  color: #cbe4ee;
  letter-spacing: .2rem;
}

.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card img {
  max-width: 220px;
  max-height: 325px;
}

.card-body p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  bottom: 20px;
  padding: 20px 20px;
  margin-left: 40px;
  color: #cbe4ee;
  letter-spacing: .1rem;
  line-height: 1.5;
  background-color: #575c5e;
  border: 1px solid #cbe4ee;
  border-radius: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* border: 2px solid red; */
  padding: 12px 0;
  margin-left: 0;
  width: 40%;
}

.skills ul, li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #cbe4ee;
  padding: 2px 12px;
}

.skills h3, h4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2px 24px;
  color: #cbe4ee;
}

/* ____________________________FOOTER_____________________________ */

.ftr-pos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  margin-top: auto;
  width: 100%;
  background-color: #cbe4ee;
}

.footer  ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  width: 150px;
  padding: 0
}

.footer a {
  color: #064862;
}

.footer a:hover {
  color: royalblue;
}

.svg {
  position: relative;
  background-color: #070b0d;
  top: 12px;
  width: 28px;
  margin: 2px;
  border: 1px solid #064862;
  border-radius: 10px;
  padding: 1px;
}

.line-position {
  position: relative;
  line-height: 1.5;
  bottom: 12px;
}
