* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;  
  min-height: 100vh;
  background-color: #263236;
  font-family: Inter, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  height: 164px;
  margin: 0;
  padding-bottom: -40px;
  align-items: center;
  background-color: #064862;

}

.header h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: .4rem;
  color: skyblue;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 2px;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cbe4ee;
  text-decoration: none;
  letter-spacing: 5px;
  padding: 10px;
}
li:hover {
  color: skyblue;
  background-color: #263236;
  padding-top: -2px;
  padding-right: -5px;
  border-radius: 8px;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  /* height: 50px; */
}

.navActive {
  display: flex;
  justify-content: center;
  background-color: #263236;
  padding-top: 2px;
  border-radius: 8px;
}

/* ________________________MEDIA QUERIES__________________________ */

@media (max-width: 576px) {
  .header h2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: .2rem;
    color: white;
  }

  nav li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    letter-spacing: .3rem;
    color: white;
  }

  nav li:hover {
    color: white;
    background-color: #064862;
    padding-top: 18px;
  }

  .about-body {
    /* border: 2px solid #cbe4ee; */
    width: 100%;
    padding: 8px -150px;
    margin: 0;
  }

  .about p {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: lighter;
    color: whitesmoke;
    line-height: 1.5;
    letter-spacing: .3rem;
  }

  .about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .about h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Inter';
    font-size: 38px;
    font-weight: 900;
    background-color: #cbe4ee;
    color: #263236;
    padding: 12px;
    letter-spacing: .3rem;
  }

  .projects h2{
    display: flex;
    flex-direction: row;
    color: #263236;
    font-size: 38px;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .project-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Inter';
    font-size: 38px;
    font-weight: 900;
    background-color: #cbe4ee;
    color: #263236;
    padding: 12px;
    letter-spacing: .3rem;
  }
  

  .container.contact {
    background-color: #263236;
    border-color: #263236;
    box-shadow: none;
    width: 800px;
  }

  .contact h1 {
    color: white;
  }

  #contact.form {
    background-color: #263236;
  }

  .button.btn {
    color: #263236;
    background-color: #263236;  
  }
  
  svg.icon {
    color: white;
    background-color: #263236;
    border: none;
    margin: 0;
    margin-bottom: -5px;
    
    padding-left: 8px;
    outline-style: none;
    
  }

  .svg.icon:hover {
    color: #263236;
    background-color: #263236;
    margin:0;
  }

  .icon:active {
    color: #263236;
    background-color: #263236;
    margin: 0;
  }
}

/* ____________________________ABOUT_____________________________ */

.about {
  display: flex;  
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  font-weight: 900;
  color: skyblue;
  letter-spacing: .2rem;
}

.about-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 4px;
}

.about img {
  display: block;
  max-width: 220px;
  max-height: 325px;
}

.about-body p {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  color: #cbe4ee;
  letter-spacing: 1.4px;
  line-height: 1.5;
}

/* ________________________PROJECT WINDOW_________________________ */

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  overflow-y: auto;
}

.project-head {
  color: skyblue;
  font-weight: 900;
  letter-spacing: .2rem;
}

.project-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(101, 191, 226, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: #cbe4ee;
}

.project-card > img {
  width: 300px;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.project-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.project-card a {
  color: #064862;
  font-size: 34px;
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-group > p {
  font-size: 12px;
  letter-spacing: .3px;
  line-height: 1.5;
  /* width: 310px; */
  color: #064862;
  margin-block: 3px;
  font-size: 12px;
  color: black;
}

/* ________________________________CONTACT__________________________________ */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  box-shadow: 1px 1px 8px rgba(101, 191, 226, 0.25);
}

.container h1 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: .2rem
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 50%;
  color: skyblue;
  background-color: #064862;
  padding: 20px 20px;
  margin-top: 20px;
  border-radius: 5px;
  letter-spacing: .1rem;
  line-height: 1.5;
}

#contact-form {
  width: 60%;
}

.form-group {
  color: #cbe4ee;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.form-control:focus {
  background-color: #e3f9f4;
  outline: none;
}

.btn {
  padding: 0;
  color: skyblue;
  background-color: #064862;
  border: none; 
}

.icon {
  
  font-size: 40px;
  margin-top: 10px;
  margin-left: 7px;
  background-color: #064862;
  outline-style: none;
}

.icon:hover {
  border: none;
  opacity: 50%;
  color: #02fcfc;
  background-color: #064862;
  transition: .6s;
  cursor: pointer;
}

.icon:active {
  color: skyblue;
  background-color: #064862;
}

.icon:after {
  color: skyblue;
  background-color: #064862;
}

/* .project-display {
  padding: 50px 55px;
  display: inline-flex;
  flex-wrap: wrap;
} */

/* .project-head { */

  
  /* justify-content: center;
  align-items: flex-start; */
  /* font-weight: 900;
  color: skyblue;
  letter-spacing: .2rem;
/* } */

/* .project img {
  padding-left: 50px;
  cursor: pointer;
} 

.project img:hover {

}

.project-body {
  padding-left: 50px;
  font-size: 22px;
  color: #cbe4ee;
}

.project p {
  font-size: 20px;
  letter-spacing: .3px;
  line-height: 1.5;
  width: 310px;
  padding-bottom: 20px;
  color: skyblue;

} */

/* ____________________________FOOTER_____________________________ */

.ftr-pos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  margin-top: 40px;
  width: 100%;
  background-color: #cbe4ee;
}

.footer  ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  width: 150px;
  padding: 0
}

.footer a {
  color: #064862;
}

.footer a:hover {
  color: royalblue;
}

.svg {
  position: relative;
  background-color: #070b0d;
  top: 12px;
  width: 28px;
  margin: 2px;
  border: 1px solid #064862;
  border-radius: 10px;
  padding: 1px;
}

.line-position {
  position: relative;
  line-height: 1.5;
  bottom: 12px;
}
